{% extends "baseTwo.html" %}
{% load static %}

{% block header %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/attendance_tracker_overview.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
  <title>{% block title %} Attendance Tracker Overview  {% endblock %}</title>
</head>
{% endblock %}

{% block content %}
<body class="">
  
 
  <div class="container-fluid px-4 mb-3 mt-5">
    <div class="d-flex justify-content-end">
      <div class="dropdown">
        <button class="btn btn-link text-muted p-0" type="button" id="pageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots-vertical fs-4"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="pageDropdown">
          <li><a class="dropdown-item" href="{% url 'create' %}">Create Project</a></li>
          <li><a class="dropdown-item" href="#">Show Completed</a></li>
          <li><a class="dropdown-item" href="#">Show Ongoing Projects</a></li>
          <li><a class="dropdown-item" href="#">Show All Projects</a></li>
        </ul>
      </div>
    </div>
  </div>
  

  <div class="projects-container mt-5 container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        {% for project in projects %}
        <div class="project card h-100  shadow-sm position-relative">
          <!-- Dropdown ellipses menu -->
          <div class="dropdown position-absolute top-0 end-0 m-2">
            <button class="btn btn-link text-muted p-0" type="button" id="cardDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="cardDropdown">
              <li><a class="dropdown-item" href="{% url 'project_headcount' project.pk %}">View Project Weekly Headcounts</a></li>
              <li><a class="dropdown-item text-danger" href="#">Project Options</a></li>
            </ul>
          </div>
  
          <img src="{% static 'images/walmart-blue.png'  %}" class="card-img-top img-fluid" alt="store placeholder img">
          <div class="card-body">
            <h5 class="card-title fw-bold text-primary"><a href="{% url 'tracker' project.pk %}">Store # {{project.store_number}}</a></h5>
            <p class="card-text text-muted mb-0">{{ project.address }}</p>
          </div>
        </div>
      </div>
      {% endfor %}


      <!-- Repeat similar structure for other cards -->
    </div>
  </div>
    <!-- bootstrap js COMMENT THIS OUT TO ALLOW JS FUNCTIONALITY WITH BaseTWO -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
</body>
{% endblock %}